logs/
plugins/__pycache__/
dags/__pycache__/
__pycache__/
*.pyc
*.pyo

# Environments
.env
*.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/

airflow.db

seeds/
.claude/
CLAUDE.md

# Airflow
config/airflow.cfg
config/webserver_config.py

# Docker
.dockerignore